/*
  @theme ExtJS Placeholder
	@placeholder extjs
*/

extjs.class {
	color:#1481FE;
	font-weight:bold;
}

extjs.class.group {
	color:#aaa;
	font-weight:normal;
}
extjs.class.function {
	color:#666;
	font-weight:normal;
}
